.cart {
  background-color: #f7f7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0;
}

.cart h1 {
  color: #7c8fe5;
  font-size: 2rem;
  font-weight: lighter;
}

.cartItems {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  place-items: center;
  padding: 0 6rem;
}
.cartItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}

.cartItem img {
  width: 200px;
}

.cartItem .right {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 35px;
}

.countHandler {
  border: 1px solid;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  font-size: 1.2rem;
  border: none;
}

.countHandler button {
  border: none;
  background-color: transparent;
}

.cartItem .left {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 35px;
  text-align: center;
}

.product-size {
  font-size: 1rem;
}
.checkout p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: #000000;
}
.btn-second {
  cursor: pointer;
  margin: 10px;
  background-color: #ececec;
  min-width: 120px;
  padding: 10px 5px;
  border-radius: 2px;
  color: #2b4759;
  font-size: 1rem;
  height: 50px;
  line-height: 46px;
  outline: none;
  padding: 0;
  background-color: #2b4759;
  border: 1px solid #2b4759;
  color: #f7f7ff;
}

@media only screen and (max-width: 760px) {
  .cartItem {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .cartItem .left {
    flex-direction: column-reverse;
    gap: 10px;
  }
}

@media only screen and (max-width: 580px) {
  .cartItems {
    padding: 0;
  }
}
