.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #C0D3FD;
  display: flex;
  justify-content: flex;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #1d3058;
  font-size: 25px;
}
.shoppingcart {
  margin-top: 10px;
}
