.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  max-width: 1700px;
  margin: 0 auto;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}

.links {
  margin: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.links img {
  width: 80px;
}

.shoppingcart {
  margin-top: 10px;
}
