@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  max-width: 1000px;
  margin: 0 auto;
}


a {
  color: black;
}